@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/*------------------- GENERAL -------------------*/

@media screen and (min-width: 25em) {
  html { 
    font-size: calc( 10px + (24 - 10) * (100vw - 100px) / (800 - 100) ); }
}


html, body {
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
	
    max-width: 1440px;
    min-width: 200px;
    font-family: 'Open Sans', sans-serif;    
}

h1, h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    /*letter-spacing: 0.05em;*/
    font-weight: bold;
}

a {
    text-decoration: none;
}

.cta {
    text-align: center;
   
   /* background: cadetblue;*/
}



/*------------------- HEADER -------------------*/

/*TOP BAR*/
.top-bar {
    line-height: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    margin-bottom: 2em;
    /*background: blue;*/
    padding: 0.5em;
}



.top-bar > div:first-child {
    /*background: green;*/
    max-width: 25%;   
    
}

.top-bar a img {    
    max-width: 100%;    
}

.top-bar > div:last-child {
   
    max-width: 25%;
    background: white;
    color: hsl(321, 100%, 78%);    
    font-size: 0.7em;
    font-weight: 700;
    border: 0.15em solid;
    padding: 0.2em 1.2em;
    border-radius: 1.5em;
    
}


.top-bar > div:last-child a {
   
    display: block;
    color: hsl(321, 100%, 78%); 
     
}

/*HEADER CTA*/
/*header .cta {
    border: 1px solid black;    
}*/

.cta p {
    font-size: 0.7em;
    max-width: 30em;
    margin: 0 auto;
}

.cta a {
    background: hsl(322, 100%, 66%);
    color: white;
    max-width: 30%; 
    text-align: center;
    font-size: 0.7em;
    display: block;
    margin: 1em auto;
    padding: 0.8em 1.2em;
    border: 0.15em solid;    
    border-radius: 1.5em;
       
}

/*HEADER MOCKUP*/
.mockup {
    /*background: royalblue;*/
    text-align: center;
    margin-top: 1.5em;
}

.mockup img {
    max-width: 70%;
}


/*HEADER COUNTER*/
.counter-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;     
}

.counter {    
    margin-top: 2em;
    
}

.counter img {
    max-width: 15%;
}

.counter > div:nth-child(2) {
    font-size: 2.5em;
    font-weight: 700;    
    /*background: pink;*/
    
}

.counter p {    
    /*margin: auto;*/
    text-align: center;
    font-size: 0.7em;
    color: grey;
    padding-top: 0;
    margin-top: 0;

}


/*------------------- MAIN CONTENT -------------------*/
main {
	/*background: grey;*/
    margin-top: 1em;
}

.text-image {
    /*background: darkorange;*/
    display: flex;    
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    margin: 0;
    font-size: 0.4em;
}

.text-image:first-of-type, .text-image:nth-of-type(3) {
    background-color: hsl(207, 100%, 98%);
}

section img {
    max-width: 100%;
}

.bg-top1, .bg-top2, .bg-bottom1, .bg-bottom2  {
    border: 1px dotted red;    
    min-height: 4.5em;
                                
} 

.bg-top1 {
    background: url('../images/bg-section-top-desktop-1.svg') no-repeat left bottom;
    background-size: max(100%);
}

.bg-bottom1 {
    background: url('../images/bg-section-bottom-desktop-1.svg') no-repeat left top;
    background-size: max(100%);
}

.bg-top2 {
    background: url('../images/bg-section-top-desktop-2.svg') no-repeat left bottom;
    background-size: max(100%);  
}

.bg-bottom2 {
    background: url('../images/bg-section-bottom-desktop-2.svg') no-repeat left top;
    background-size: max(100%);
}

.image, .text {
    padding: 1em;
    flex: 1 1 1em;
    margin: 0 4em;
}

.text p {
    font-size: 0.5em;
}

.text-image:not(:nth-of-type(2)) .text {
    order: -1;
}


/*------------------- FOOTER -------------------*/
footer {
	background: red;
    display: flex;
    flex-wrap: wrap;
}
footer div {
    min-width: 50%;
}

footer > div:first-child{
    background: greenyellow;
    order: 1;
}

/*BREAKING POINTS*/

/*First Breaking Point*/
@media screen and (max-width: 375px) {
    section:not(:last-child), footer {
        display: block;
    }

    h1 {
        max-width: 12em;
        margin: auto;
    }
    
    header p {
        max-width: 22em;
        margin: auto;
        padding-top: 1em;
    }

    .cta a {
        max-width: 35%;
        font-size: 0.6em;
        margin-top: 2em;        
    }

    .counter-wrapper {
       display: grid;

    }

}



   

/*Second Breaking Point*/
@media screen and (max-width: 240px) {
    .top-bar > div:last-child {
        font-size: 0.6em;
    }
    
    .cta a {
        max-width: 38%;
        font-size: 0.5em;        
    }
}



