/*WARGNING
VERIFY:
- CSS CODE BEST PRACTICES
- RESET STYLES
- CSS NORMALIZE 
- ACTIVE STATES (FRONTEND MENTOR DESIGN SCREENSHOT )
*/


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/*------------------- GENERAL -------------------*/

@media screen and (min-width: 25em) {
  html { 
    font-size: calc( 10px + (24 - 10) * (100vw - 100px) / (800 - 100) ); }
}


html, body {
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
	
    max-width: 1440px;
    min-width: 200px;
    font-family: 'Open Sans', sans-serif;    
}

h1, h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;    
    font-weight: bold;
}

a {
    text-decoration: none;
}

.cta {
    text-align: center;
}



/*------------------- HEADER -------------------*/

/*TOP BAR*/
.top-bar {
    line-height: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    margin-bottom: 2em;    
    padding: 0.5em;
}


.top-bar > div:first-child {    
    max-width: 25%;
}

.top-bar a img {    
    max-width: 100%;    
}

.top-bar > div:last-child {
   
    max-width: 25%;
    background: white;
    color: hsl(321, 100%, 78%);    
    font-size: 0.7em;
    font-weight: 700;
    border: 0.15em solid;
    padding: 0.2em 1.2em;
    border-radius: 1.5em;
    
}


.top-bar > div:last-child a {
   
    display: block;
    color: hsl(321, 100%, 78%); 
     
}


.cta p {
    font-size: 0.7em;
    max-width: 30em;
    margin: 0 auto;
}

.cta a {
    background: hsl(322, 100%, 66%);
    color: white;
    max-width: 30%; 
    text-align: center;
    font-size: 0.7em;
    display: block;
    margin: 1em auto;
    padding: 0.8em 1.2em;
    border: 0.15em solid;    
    border-radius: 1.5em;
       
}

/*HEADER MOCKUP*/
.mockup {    
    text-align: center;
    margin-top: 1.5em;
}

.mockup img {
    max-width: 70%;
}


/*HEADER COUNTER*/
.counter-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;     
}

.counter {    
    margin-top: 2em;
    /*border: 1px solid green;*/
    
}

.counter img {
    max-width: 15%;
}

.counter > div:nth-child(2) {
    font-size: 2.5em;
    font-weight: 700;
}

.counter p { 
    text-align: center;
    font-size: 0.7em;
    color: grey;
    padding-top: 0;
    margin-top: 0;
}


/*------------------- MAIN CONTENT -------------------*/

/*main {	
    margin-top: 1em;
}*/


.text-image {    
    display: flex;    
    justify-content: space-evenly;
    align-items: center;
    /*flex-wrap: nowrap;   */
    /*border: 1px solid green;*/
    
}

.text-image:first-of-type, .text-image:nth-of-type(3) {
    background-color: hsl(207, 100%, 98%);
}

.text-image:nth-of-type(2) {
    margin: 1em auto;
}

.image img {
    max-width: 100%;
}


/*----------------------------------------------Curved Background Styles*/
.bg-top1, .bg-top2, .bg-bottom1, .bg-bottom2  {
    
    min-height: 4.5em;
                                
} 

.bg-top1 {
    background: url('../images/bg-section-top-desktop-1.svg') no-repeat left bottom;
    background-size: max(100%);
}

.bg-bottom1 {
    background: url('../images/bg-section-bottom-desktop-1.svg') no-repeat left top;
    background-size: max(100%);
}

.bg-top2 {
    background: url('../images/bg-section-top-desktop-2.svg') no-repeat left bottom;
    background-size: max(100%);  
}

.bg-bottom2 {
    background: url('../images/bg-section-bottom-desktop-2.svg') no-repeat left top;
    background-size: max(100%);
} /*-------------------------------------End Of Curved Brackground Styles*/

.image, .text {
    /*padding: 1em;*/
    /*flex: 1 1 1em;*/
    /*margin: 2em;*/
    /*border: 2px dotted blue;*/
    max-width: 40%
}

/*.image {
    max-width: 40%;
}

.text {
    max-width: 45%;    
}*/

.text p {
    font-size: 0.5em;
    /*border: 1px solid black;*/
}

.text h1 {
    font-size: 0.6em;
    /*border: 1px solid black;*/
}

.text-image:not(:nth-of-type(2)) .text {
    order: -1;
}


/*Call To Action Before Footer*/
section.cta {
    margin: 1em 0;
}



/*------------------- FOOTER -------------------*/

.footer-bg {
	/*background: red;*/
    display: flex;
    /*flex-wrap: nowrap;*/
    justify-content: space-evenly;
    align-items: center;
}

.footer-bg > div {
    max-width: 40%;
}

.footer-bg > div:first-child{
    /*background: greenyellow;*/
    order: 1;
}

/*Footer Background*/
.bg-top-footer {
    min-height: 7em;    
    background: url('../images/bg-footer-top-desktop.svg') left bottom no-repeat;
    background-size: max(100%);
    margin-bottom: 0;
    padding-bottom: 0;
}

.footer-bg {
    background-color: hsl(192, 100%, 9%);
    min-height: 2em;
    margin-top: 0;
    
}




/*-----------------------------  BREAKING POINTS   ------------------------*/

/*--------------------------------------------------First Breaking Point*/
@media screen and (max-width: 375px) {
    .text-image, footer {
        display: block;
    }

    h1 {
        max-width: 12em;
        margin: auto;
    }
    
    header p {
        max-width: 22em;
        margin: auto;
        padding-top: 1em;
    }

    .cta a {
        max-width: 35%;
        font-size: 0.6em;
        margin-top: 2em;        
    }

    .counter-wrapper {
       display: grid;

    }

    /*----------------------------------------------Curved Background Styles*/
        .bg-top1, .bg-top2, .bg-bottom1, .bg-bottom2  {
            
            min-height: 7em;
                                        
        } 

        .bg-top1 {
            background: url('../images/bg-section-top-mobile-1.svg') no-repeat left bottom;
            background-size: max(100%);
        }

        .bg-bottom1 {
            background: url('../images/bg-section-bottom-mobile-1.svg') no-repeat left top;
            background-size: max(100%);
        }

        .bg-top2 {
            background: url('../images/bg-section-top-mobile-2.svg') no-repeat left bottom;
            background-size: max(100%);  
        }

        .bg-bottom2 {
            background: url('../images/bg-section-bottom-mobile-2.svg') no-repeat left top;
            background-size: max(100%);
    } /*-------------------------------------End Of Curved Brackground Styles*/

    .image, .text {
        max-width: 80%;
        margin: 0 auto;
        text-align: center;
        padding: 2em 0;
    }

    .text h1 {
        font-size: 0.8em;
    }
    
    .text p{
        font-size: 0.7em;
        margin: 0;
        padding: 0;

    }

    /*.text-image:nth-of-type(2) {
        margin: 1em auto;
    }*/

}



   

/*--------------------------------------------------Second Breaking Point*/
@media screen and (max-width: 240px) {
    .top-bar > div:last-child {
        font-size: 0.6em;
    }
    
    .cta a {
        max-width: 38%;
        font-size: 0.5em;        
    }
}



